In [1]:
import pandas as pd

In [2]:
bookings = pd.read_csv(r'C:\Users\aseno\Downloads\bookings.csv', sep = ';')

In [3]:
bookings

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [4]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [5]:
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [5]:
bookings = bookings.rename(str.lower,axis='columns')

In [6]:
bookings = bookings.rename(columns ={'is canceled': 'is_canceled',
                           'lead time':'lead_time', 
                           'arrival full date':'arrival_full_date',
                           'arrival date year':'arrival_date_year',
                           'arrival date month':'arrival_date_month',
                           'arrival date week number':'arrival_date_week_number',
                           'arrival date day of month': 'arrival_date_day_of_month', 
                           'stays in weekend nights': 'stays_in_weekend_nights',
                           'stays in week nights':'stays_in_week_nights', 
                           'stays total nights':'stays_total_nights', 
                           'reserved room type':'reserved_room_type',
                           'assigned room type':'assigned_room_type',
                           'customer type':'customer_type',
                           'reservation status':'reservation_status', 
                           'reservation status_date':'reservation_status_date'})

In [7]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [8]:
bookings\
        .groupby('country', as_index = False)\
        .agg({'reservation_status': 'count'}) # step  6 not end

    country  reservation_status
0       ABW                   2
1       AGO                 362
2       AIA                   1
3       ALB                  12
4       AND                   7
..      ...                 ...
172     VGB                   1
173     VNM                   8
174     ZAF                  80
175     ZMB                   2
176     ZWE                   4

[177 rows x 2 columns]

In [9]:
bookings\
        .groupby('hotel')\
        .agg({'stays_total_nights': 'mean'})\
        .round(2)                              # step 7

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [10]:
bookings['total_kids'] = bookings['children']+ bookings['babies']

In [11]:
bookings['has_kids'] = bookings.total_kids.astype(bool)# создаем новый столбец

In [15]:
bookings[['has_kids', 'is_canceled']].value_counts() #подсчитываем значения по двум столбцам.
                                                     #Получаем Series c двумя индексами(has_kids , is_canceled)
bookings[['has_kids']].value_counts() # теперь подсчитываем значения по одной колонке, 
                                    # чтобы получить 100 % каждой выборки(False - без детей, True - с детьми)
bookings[['has_kids','is_canceled']].value_counts() / bookings[['has_kids']].value_counts() *100

has_kids  is_canceled
False     0              62.780998
          1              37.219002
True      0              65.049272
          1              34.950728
dtype: float64

In [13]:
bookings[['has_kids']].value_counts() # теперь подсчитываем значения по одной колонке, 
                                    # чтобы получить 100 % каждой выборки(False - без детей, True - с детьми)

has_kids
False       110054
True          9336
dtype: int64

In [14]:
bookings[['has_kids','is_canceled']].value_counts() / bookings[['has_kids']].value_counts() *100

has_kids  is_canceled
False     0              62.780998
          1              37.219002
True      0              65.049272
          1              34.950728
dtype: float64