In [20]:
import pandas as pd

In [21]:
# Задание_1:
# Прочитайте датасет bookings.csv с разделителем ";"

bookings = pd.read_csv(r'C:\Users\aseno\Desktop\repositories\csv_files\2_bookings.csv', sep = ';')

In [23]:
# Задание_2:
# Посмотрите на размеры таблицы. Сколько всего в ней столбцов?

bookings.shape

(119390, 21)

In [24]:
# Задание_3:
# К какому типу относится большинство переменных? 

bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [25]:
# Задание_4:
# Запишите первые 7 строк в переменную bookings_head

bookings_head = bookings.head(7)

In [29]:
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [27]:
# Задание_5:
# Как вы уже могли заметить, при сборе датасета произошла небольшая ошибка, 
# и названия колонок были записаны в неудобном для дальнейшей работы формате. 
# Исправьте ситуацию, приведя названия столбцов к нижнему регистру и заменив пробелы на знак нижнего подчеркивания.


bookings.columns = bookings.columns.str.replace(' ', '_').str.lower() # rename columns

In [7]:
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [44]:
# Задание_6:
# Пользователи из каких стран совершили наибольшее число успешных бронирований?
# Бронирование считается успешным, если в дальнейшем не было отменено (переменная is_canceled).
# В качестве ответа выберите страны, входящие в топ-5.

top_5_countries = bookings.query('is_canceled == 0')\
        .groupby('country', as_index = False)\
        .size()\
        .sort_values('size',ascending = False)\
        .rename(columns={'size':'successful_bookings'})\
        .head(5)

In [45]:
top_5_countries

    country  successful_bookings
125     PRT                21071
57      GBR                 9676
54      FRA                 8481
50      ESP                 6391
42      DEU                 6069

In [47]:
# Задание_7:
# На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel? 
# Запишите полученные значения в пропуски с точностью до 2 знаков после точки.

avg_nights = bookings.groupby('hotel', as_index = False)\
                    .agg({'stays_total_nights': 'mean'})\
                    .round(2)

In [48]:
avg_nights

          hotel  stays_total_nights
0    City Hotel                2.98
1  Resort Hotel                4.32

In [53]:
# Задание_8:
# Иногда тип номера, присвоенного клиенту (assigned_room_type),отличается от изначально забронированного (reserved_room_type). 
# Такое может произойти, например, по причине овербукинга. Сколько подобных наблюдений встретилось в датасете?

overbooking = bookings.query('assigned_room_type != reserved_room_type').shape[0] # count selected rows

In [54]:
overbooking

14917

In [59]:
# Задание_9:
# Теперь проанализируйте даты запланированного прибытия (arrival_date_year).
# На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

arrival_date_pop = bookings.groupby( ['arrival_date_year', 'arrival_date_month']).size() # needs to be completed

arrival_date_year  arrival_date_month
2015               August                3889
                   December              2920
                   July                  2776
                   November              2340
                   October               4957
                   September             5114
2016               April                 5428
                   August                5063
                   December              3860
                   February              3891
                   January               2248
                   July                  4572
                   June                  5292
                   March                 4824
                   May                   5478
                   November              4454
                   October               6203
                   September             5394
2017               April                 5661
                   August                4925
                   February              4177
                   January               3681
                   July                  5313
                   June                  5647
                   March                 4970
                   May                   6313
dtype: int64

In [85]:
# Задание_10:
# Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) 
# бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 

canceled_month = bookings.query('is_canceled == 1&hotel=="City Hotel"')\
        .groupby(['arrival_date_year','arrival_date_month'])\
        .size()                                                # needs to be completed

In [10]:
bookings['total_kids'] = bookings['children']+ bookings['babies']

In [94]:
# Задание_11:
# Посмотрите на числовые характеристики трёх колонок: adults, children и babies.
# Какая из них имеет наибольшее среднее значение?

bookings_avg_age = bookings[['adults','children','babies']].mean()

In [95]:
bookings_avg_age

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

In [11]:
bookings['has_kids'] = bookings.total_kids.astype(bool)# создаем новый столбец

In [15]:
bookings[['has_kids', 'is_canceled']].value_counts() #подсчитываем значения по двум столбцам.
                                                     #Получаем Series c двумя индексами(has_kids , is_canceled)
bookings[['has_kids']].value_counts() # теперь подсчитываем значения по одной колонке, 
                                    # чтобы получить 100 % каждой выборки(False - без детей, True - с детьми)
bookings[['has_kids','is_canceled']].value_counts() / bookings[['has_kids']].value_counts() *100

has_kids  is_canceled
False     0              62.780998
          1              37.219002
True      0              65.049272
          1              34.950728
dtype: float64

In [13]:
bookings[['has_kids']].value_counts() # теперь подсчитываем значения по одной колонке, 
                                    # чтобы получить 100 % каждой выборки(False - без детей, True - с детьми)

has_kids
False       110054
True          9336
dtype: int64

In [14]:
bookings[['has_kids','is_canceled']].value_counts() / bookings[['has_kids']].value_counts() *100

has_kids  is_canceled
False     0              62.780998
          1              37.219002
True      0              65.049272
          1              34.950728
dtype: float64